

@mixin SourceSansPro400_11_18 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
}

@mixin SourceSansPro400_16_21 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

@mixin SourceSansPro400_17_27 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}

@mixin SourceSansPro400_18_27 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

@mixin SourceSansPro400_22_33 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
}

@mixin SourceSansPro400_22_27 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

@mixin SourceSansPro400_24_29 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

//////////////////////////////////////////////////////////////////////

@mixin SourceSansPro700_16_21 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

@mixin SourceSansPro700_20_53 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 53px;
}

@mixin SourceSansPro700_24_29 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

@mixin SourceSansPro700_44_53 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
}

@mixin SourceSansPro700_55_60 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
}

///////////////////////////////////////////

@mixin SourceSansPro400_28_42_italic {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
}