@import "fonts";

.note{
    position: relative;
    background-color: #57D9A6;
    padding: 8px 0;
    z-index: 2;

    .message{
        @include SourceSansPro400_18_27;
        color: #1C1C33;
        text-align: center;
        padding: 0 10px;
    }
}