@import "fonts";

.recent_articles {
    background: #F5F5F5;
    padding: 142px 0 104px 0;

    .h2 {
        @include SourceSansPro700_44_53;
        text-align: center;
        color: #1C1C33;
        margin-bottom: 17px;
    }

    .hr {
        width: 150px;
        height: 2px;
        background: #57D9A6;
        margin: 0 auto 50px auto;
    }

    .text {
        @include SourceSansPro400_22_33;
        text-align: center;
        color: #4E4E65;
        max-width: 644px;
        margin: 0 auto 46px auto;
    }

    .center {
        text-align: center;
    }

    .link {
        display: inline-block;
        @include SourceSansPro400_18_27;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #1C1C33;
        padding: 16px 24px;
        background: #57D9A6;
        border-radius: 4px;
        margin-bottom: 80px;
    }

    .articles_body{
        margin: 0 -25px;
        display: flex;

        @media (max-width: 850px){
            flex-wrap: wrap;
        }

        .article{
            display: flex;
            flex-direction: column;
            flex: 0 1 33.33%;
            padding: 0 25px;

            @media (max-width: 850px){
                flex: 0 1 100%;
                flex-direction: row;
                align-items: center;
                background-color: #fff;

                &:not(:last-child){
                    margin-bottom: 20px;
                }
            }

            @media (max-width: 500px){
                flex-direction: column;
                background-color: rgba($color: #fff, $alpha: 0);
            }
        }

        .image{
            @media (max-width: 500px){
                width: 100%;
            }
            

            img{
                width: 100%;
                vertical-align: bottom;
            }
        }

        .content{
            padding: 23px 24px 72px 24px;
            background-color: #fff;
            height: 100%;

            @media (max-width: 850px){
                padding: 20px;
                width: 70%;
            }

            @media (max-width: 500px){
                width: 100%;
            }
        }

        .date{
            @include SourceSansPro400_17_27;
            color: #4E4E65;
            margin-bottom: 22px;
        }

        .h3{
            @include SourceSansPro400_24_29;
            color: #1C1C33;
            margin-bottom: 8px;
        }

        .avtor{
            @include SourceSansPro400_17_27;
            color: #4E4E65;
        }
    }
}